@import "./header";

@font-face {
    font-family: Roboto;
    src: url(../../public/font/Roboto/Roboto-Medium.ttf);
}

* {
    margin: 0;
    font-family: Roboto;
}

.fail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 150px;
    color: red;
}